Code/FMS.WebUI/Service References/SaaS_Service/SaaS_Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SaaS_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SaaS_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSystemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemInfo" nillable="true" type="tns:SystemInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemInfo" nillable="true" type="tns:ArrayOfSystemInfo" />
  <xs:complexType name="SystemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemInfo" nillable="true" type="tns:SystemInfo" />
</xs:schema>