Code/FMS.WebUI/Service References/SaaS_Service/SaaSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaaSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.112:8888/SaaS_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.112:8888/SaaS_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.112:8888/SaaS_Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.1.112:8888/SaaS_Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SaaS_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaaS_Service_GetAllJsomTreeByAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJsomTreeByAccountID" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetAllJsomTreeByAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJsomTreeByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetSubSystemModuleIDComposeForAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubSystemModuleIDComposeForAdmin" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetSubSystemModuleIDComposeForAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubSystemModuleIDComposeForAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJsomTreeLoginSystemIDAndAccountIDForAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetAllAllowModuleIDsBySystemIDAndAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAllowModuleIDsBySystemIDAndAccountID" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetAllAllowModuleIDsBySystemIDAndAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAllowModuleIDsBySystemIDAndAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetUserDependentServiceInterfacePath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDependentServiceInterfacePath" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetUserDependentServiceInterfacePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDependentServiceInterfacePathResponse" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetRMInterfacePath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRMInterfacePath" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetRMInterfacePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRMInterfacePathResponse" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetAllSystems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSystems" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_GetAllSystems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSystemsResponse" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_IsAllowAccessByModuleAndAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAllowAccessByModuleAndAccountID" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_IsAllowAccessByModuleAndAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAllowAccessByModuleAndAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_IsAllowAccessByFubfunctionCodeAndAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAllowAccessByFubfunctionCodeAndAccountID" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_IsAllowAccessByFubfunctionCodeAndAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAllowAccessByFubfunctionCodeAndAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_VerifyLegitimacy_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyLegitimacy" />
  </wsdl:message>
  <wsdl:message name="ISaaS_Service_VerifyLegitimacy_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyLegitimacyResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaaS_Service">
    <wsdl:operation name="GetAllJsomTreeByAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/GetAllJsomTreeByAccountID" message="tns:ISaaS_Service_GetAllJsomTreeByAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/GetAllJsomTreeByAccountIDResponse" message="tns:ISaaS_Service_GetAllJsomTreeByAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubSystemModuleIDComposeForAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/GetSubSystemModuleIDComposeForAdmin" message="tns:ISaaS_Service_GetSubSystemModuleIDComposeForAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/GetSubSystemModuleIDComposeForAdminResponse" message="tns:ISaaS_Service_GetSubSystemModuleIDComposeForAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin" message="tns:ISaaS_Service_GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/GetAllJsomTreeLoginSystemIDAndAccountIDForAdminResponse" message="tns:ISaaS_Service_GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAllowModuleIDsBySystemIDAndAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/GetAllAllowModuleIDsBySystemIDAndAccountID" message="tns:ISaaS_Service_GetAllAllowModuleIDsBySystemIDAndAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/GetAllAllowModuleIDsBySystemIDAndAccountIDResponse" message="tns:ISaaS_Service_GetAllAllowModuleIDsBySystemIDAndAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDependentServiceInterfacePath">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/GetUserDependentServiceInterfacePath" message="tns:ISaaS_Service_GetUserDependentServiceInterfacePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/GetUserDependentServiceInterfacePathResponse" message="tns:ISaaS_Service_GetUserDependentServiceInterfacePath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRMInterfacePath">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/GetRMInterfacePath" message="tns:ISaaS_Service_GetRMInterfacePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/GetRMInterfacePathResponse" message="tns:ISaaS_Service_GetRMInterfacePath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSystems">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/GetAllSystems" message="tns:ISaaS_Service_GetAllSystems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/GetAllSystemsResponse" message="tns:ISaaS_Service_GetAllSystems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAllowAccessByModuleAndAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/IsAllowAccessByModuleAndAccountID" message="tns:ISaaS_Service_IsAllowAccessByModuleAndAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/IsAllowAccessByModuleAndAccountIDResponse" message="tns:ISaaS_Service_IsAllowAccessByModuleAndAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAllowAccessByFubfunctionCodeAndAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/IsAllowAccessByFubfunctionCodeAndAccountID" message="tns:ISaaS_Service_IsAllowAccessByFubfunctionCodeAndAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/IsAllowAccessByFubfunctionCodeAndAccountIDResponse" message="tns:ISaaS_Service_IsAllowAccessByFubfunctionCodeAndAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyLegitimacy">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaaS_Service/VerifyLegitimacy" message="tns:ISaaS_Service_VerifyLegitimacy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaaS_Service/VerifyLegitimacyResponse" message="tns:ISaaS_Service_VerifyLegitimacy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaaS_Service" type="tns:ISaaS_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllJsomTreeByAccountID">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/GetAllJsomTreeByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubSystemModuleIDComposeForAdmin">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/GetSubSystemModuleIDComposeForAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAllowModuleIDsBySystemIDAndAccountID">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/GetAllAllowModuleIDsBySystemIDAndAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDependentServiceInterfacePath">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/GetUserDependentServiceInterfacePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRMInterfacePath">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/GetRMInterfacePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSystems">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/GetAllSystems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAllowAccessByModuleAndAccountID">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/IsAllowAccessByModuleAndAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAllowAccessByFubfunctionCodeAndAccountID">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/IsAllowAccessByFubfunctionCodeAndAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyLegitimacy">
      <soap:operation soapAction="http://tempuri.org/ISaaS_Service/VerifyLegitimacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaaSService">
    <wsdl:port name="BasicHttpBinding_ISaaS_Service" binding="tns:BasicHttpBinding_ISaaS_Service">
      <soap:address location="http://192.168.1.112:8888/SaaS_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>