FMSNEW/FMS.WebUI/Service References/SaaS_Service/SaaS_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.112:8888/SaaS_Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.1.112:8888/SaaS_Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SaaS_Service" />
  <xs:element name="GetAllJsomTreeByAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentCulture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJsomTreeByAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllJsomTreeByAccountIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubSystemModuleIDComposeForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subSystemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubSystemModuleIDComposeForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubSystemModuleIDComposeForAdminResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJsomTreeLoginSystemIDAndAccountIDForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubsystemID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentCulture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJsomTreeLoginSystemIDAndAccountIDForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllJsomTreeLoginSystemIDAndAccountIDForAdminResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAllowModuleIDsBySystemIDAndAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubsystemID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAllowModuleIDsBySystemIDAndAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllAllowModuleIDsBySystemIDAndAccountIDResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDependentServiceInterfacePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubsystemID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDependentServiceInterfacePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserDependentServiceInterfacePathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRMInterfacePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubsystemID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRMInterfacePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRMInterfacePathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SaaS_Service" minOccurs="0" name="GetAllSystemsResult" nillable="true" type="q2:ArrayOfSystemInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAllowAccessByModuleAndAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAllowAccessByModuleAndAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAllowAccessByModuleAndAccountIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAllowAccessByFubfunctionCodeAndAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubfunctionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAllowAccessByFubfunctionCodeAndAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAllowAccessByFubfunctionCodeAndAccountIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyLegitimacy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCount" type="xs:int" />
        <xs:element minOccurs="0" name="accID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sysID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyLegitimacyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyLegitimacyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>